.drinkFilter {
    color-scheme: white;
    align-items: left;
    margin: 10px;
    margin-left: 30px;
}

.drinkFilter .checkboxList {
    margin-left: 10px;
}

.paper {
    max-height: 300;
    overflow: auto;
    min-width: min-content;
}